@font-face {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 300;
    src: local("Work Sans"),
        url("../assets/fonts/WorkSans-Light.ttf") format("ttf"),
}

@font-face {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Work Sans"),
        url("../assets/fonts/WorkSans-Regular.ttf") format("ttf"),
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 24px 50px;
    background: #116ACC;

    &__title {
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
        font-size: 48px;
        color: #ffffff;
    }

    &__nav {
        display: flex;
        justify-content: flex-end;
        justify-self: flex-end;
    }

    &__btn {
        color: #116ACC;
        background: #ffffff;
        border: none;

        &:not(:last-child) {
            margin-right: 25px;
        }
    }
}

@media (max-width: 746px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding: 15px 25px;
        &__title {
            font-size: 32px;
            margin-bottom: 20px;
        }
    }

    .header__nav a {
        padding: 10px 10px;
        margin-right: 15px;
    }
}
@media (max-width: 520px) {
    .header__nav {
        width: 100%;
        justify-content: space-between;
        a {
            margin-right: 0;
            &:not(:last-child) {
                margin-right: 5px;
            }
        }
    }
}